.main{
    width: 98%;
    height: 650px;
    margin-top: 1%;
    margin-left: 1%;
}
.sub{
    width: 90%;
    margin-left: 5%;
    height: 250px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.45);
    border-radius: 12px;
}